<div class="container" [style.background]="Constants.color()">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Invoice Crud Demo</span>
      <span class="example-spacer"></span>
      <app-theme-switch></app-theme-switch>
    </mat-toolbar-row>
  </mat-toolbar>


<mat-card class="card">
    <img class="profile-pic" src="assets/benprofile.jpg" alt="ben profile"/>
  <mat-card-title [style.color]="Constants.color(true)">
    Invoice CRUD
  </mat-card-title>
  <mat-card-subtitle>
    <mat-card-subtitle>A project by <a [style.color]="Constants.color(true)" target="_blank" href="https://www.linkedin.com/in/benjamin-brookarsh-b1b39972/">Ben Brookarsh</a></mat-card-subtitle>
  </mat-card-subtitle>
</mat-card>

<mat-card class="card">
  <app-post-invoice></app-post-invoice>
</mat-card>

<mat-card class="card">
  <app-get-invoices></app-get-invoices>
</mat-card>

</div>
